################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/VivialConnect.Test/obj/Debug
/VivialConnect/obj/Debug
/packages
/VivialConnect.Test/bin/Debug
/VivialConnect/bin/Debug
/.vs/VivialConnect-DotNet
/VivialConnect.Test/bin/Release
/VivialConnect.Test/obj/Release
/VivialConnect/bin/Release
/VivialConnect/obj/Release
